*{
    color: black;
    justify-content: center;
}

.card{
    width: 250px;
    padding: 16px; 
    background-color: pink; 
    vertical-align: top; 
    margin: 5px 1px; 
    display: inline-block;
}
.metabolismo {
    width: 150px;
    height: 100px;
}
.zumba {
    width: 100px;
    height: 100px;
}
.spinning {
    width: 100px;
    height: 100px;
}
.musculacion{
    width: 100px;
    height: 100px;
}
.cardio{
    width: 100px;
    height: 100px;
}
.aquagym{
    width: 100px;
    height: 100px;
}