@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
 * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 header ul > li > a {
    text-decoration: none;
    color: black;
}
header ul {
 list-style: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(60, 12, 136);
}
header > nav > ul {
    display: flex;
    gap: 50px;

}
.container-card{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    height: 450px;
    padding: 16px; 
    background-color: rgb(114, 102, 184); 
    vertical-align: top; 
    margin: 5px 1px; 
    display: inline-block;
}

.imagenDeTarjeta {
    width: 150px;
    height: 150px;
}

.top-tarjeta {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;

}
